.poke__list__card {
  margin: 30px 10px;
  font-family: Arial, Helvetica, sans-serif;
  border: 5px solid rgb(63, 63, 63);
  background: linear-gradient(0deg, red 45%, rgb(63, 63, 63) 45%, rgb(63, 63, 63) 55%, white 55%);
  height: 230px;
  width: 230px;
  border-radius: 200px;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    &__img {
      width: 90px;
      background-color: white;
      border: 5px solid rgb(63, 63, 63);
      border-radius: 60px;
      box-shadow: inset 0 0 3px #000000;
    }
    &__name {
      margin-bottom: 10px;
      font-size: 20px;
      color: red;
      text-transform: uppercase;
      z-index: 2;
    }
    &__list {
      display: flex;
      flex-direction: row;
      z-index: 2;
      margin-top: 10px;
      &__types {
        text-align: center;

        color: white;
        margin: 5px;
        width: 60px;
        font-size: 17px;
        border: 1px rgb(63, 63, 63) solid;
        border-radius: 5px;
        background-color: rgb(63, 63, 63);
        h4 {
          font-weight: 100;
        }
      }
    }
  }
}
